<h1 class="text-center">COCKTAILS...miam miam miam :) </h1>

<%= cl_image_tag("iumozsno5z9pzvtom64k",
      width: 400, height: 300, crop: :fill) %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
  </div>


  <h2 class="row">
    <div class = "col-xs-4">
      <%= cocktail.name %>
  </h2>
    <% end %>

  <div class ="row">
    <div class = "col-xs-4 col-xs-offset-4">
      <%= render 'form', cocktail: @cocktail %>
    </div>
  </div>

</div>

<%= cl_image_tag "drink.jpg" %>
